ADMIN_PASSWORD=defina-a-senha-do-administrador
ROBOT_SERVICE_URL=https://servico-do-robo-3.up.railway.app
ROBOT_CONTROL_TOKEN=mesmo-segredo-control-do-servico
ROBOT_WEBHOOK_TOKEN=mesmo-segredo-webhook-do-servico
